<head>
   <title>Editar Doctor</title>
</head>
{% include 'header.html' %}
<div class="row justify-content-center">
    <div class="col-md-8">
    {% for doctor in doctors %}
        <form method="post" action="{{ url_for('update_doctor') }}" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">Formulario editar doctor</div>
                        <div class="col text-end"> 
                            <a href="{{ url_for('index_doctors') }}" class="btn btn-light">Atras</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" value="{{ doctor[0] }}" name="txtID">
                    <div class="form-group">Nombre:
                        <input class="form-control" type="text" value="{{ doctor[1] }}" name="txtName">
                    </div>
                    <div class="form-group">Correo:
                        <input class="form-control" type="email" value="{{ doctor[2] }}" name="txtEmail">
                    </div>
                    <div class="form-group">Teléfono:
                        <input class="form-control" type="text" value="{{ doctor[3] }}" name="txtPhone">
                    </div>
                    <div class="form-group">Especialidad:
                        <input class="form-control" type="text" value="{{ doctor[4] }}" name="txtSpecialty">
                    </div>
                    <div class="form-group">Foto actual:
                        <img class="form-control" src="{{url_for('uploads',namePic=doctor[5])}}" style="width:128px;height:128px;" alt="Foto doctor">
                        <input class="form-control" type="file" name="txtPic">
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <input class="btn btn-success" type="submit" value="Actualizar">
                </div>
            </div>
        </form>
    {% endfor %}
    </div>
</div>
