<head>
   <title>Agregar paciente</title>
</head>
{% include 'header.html' %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <form method="post" action="{{ url_for('storage_pacient') }}" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col"> Formulario agregar paciente</div>
                            <div class="col text-end"> 
                                <a href="{{ url_for('index_pacients') }}" class="btn btn-light">Atras</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-group">
                            Nombre:
                            <input  class="form-control" type="text" name="txtName" id="txtName">
                        </div>
                        <div class="form-group">
                            Correo:
                            <input  class="form-control" type="text" name="txtEmail" id="txtEmail">
                        </div>
                        <div class="form-group">
                            Foto:
                            <input class="form-control" type="file" name="txtPic" id="txtPic">
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <input class="btn btn-success" type="submit" value="Agregar">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>