<head>
   <title>Agregar usuario</title>
</head>
{% include 'header.html' %}
<form method="post" action="{{ url_for('storage_user') }}" enctype="multipart/form-data">
   <div class="card">
        <div class="card-header">
            Formulario agregar usuario
        </div>
        <div class="card-body">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                Nombre:
                <input  class="form-control" type="text" name="txtName" id="txtName">
            </div>
            <div class="form-group">
                Correo:
                <input  class="form-control" type="text" name="txtEmail" id="txtEmail">
            </div>
            <div class="form-group">
                Contraseña:
                <input class="form-control" type="text" name="txtPass" id="txtPass">
            </div>
            <div class="form-group">
                Foto:
                <input class="form-control" type="file" name="txtPic" id="txtPic">
            </div>
        </div>
        <div class="card-footer text-muted">
        
        <input class="btn btn-success" type="submit" value="Agregar">
        </div>
   </div>
</form>
{% include 'footer.html' %}    