{% include 'header.html' %}
{% for user in users %}
<form method="post" action="{{ url_for('update_user') }}" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            Formulario editar usere
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos del usere</h4>
            <input type="hidden" value="{{ user[0] }}" name="txtID" id="txtID">
            <div class="form-group">
                Nombre:
                <input class="form-control" type="text" value="{{ user[1] }}" name="txtName" id="txtName">
            </div>
            <div class="form-group">
                Correo:
                <input class="form-control" type="text"  value="{{ user[2] }}" name="txtEmail" id="txtEmail">
            </div>
            <div class="form-group">
                Contraseña:
                <input class="form-control" type="text" value="{{ user[4] }}" name="txtPass" id="txtPass">
            </div>
            <div class="form-group">
                Foto actual:
                <img  class="form-control" src="{{url_for('uploads',namePic=user[3])}}" style="width:128px;height:128px;" alt="Foto del usere">
                <input class="form-control" type="file" name="txtPic" id="txtPic">
            </div>
        </div>
        <div class="card-footer text-muted">
            <input class="btn btn-success" type="submit" value="Actualizar">
        </div>
    </div>
</form>
{% endfor %}
{% include 'footer.html' %}